<div class="screen-container column2">
  <div class="column2 start">
    <!-- <button class="bold m-bottom-7 row middle" (click)="goToBack()">
      <span class="icon icon-long-left-arrow back-arrow deep-sea-green"></span>
      <span class="poppins text-big deep-sea-green bold m-left-2">Volver</span>
	</button> -->
	<a class="text-big poppins bold deep-sea-green m-bottom-6 row2 middle link-simple" href="/subsidiary/detail?id={{subsidiaryId}}">
		<i class="icon icon-long-left-arrow deep-sea-green title-medium m-right-1"></i>
		Volver
	</a>
    <h3 class="title-small bold deep-sea-green m-bottom-9">
      Pedidos de la sucursal
    </h3>
  </div>
  <empty
    *ngIf="!data || !data?.length; else emptyData"
    class="width-100"
    [data]="emptyOrders">
  </empty>
  <ng-template #emptyData>
    <div class="table-container m-bottom-3" *ngFor="let order of data">
      <order-item class="column2 table-container" [data]="order"></order-item>
    </div>
    <paginator
      [paginator]="paginator"
      (page)="currentPageChange($event)"
    ></paginator>
  </ng-template>
</div>
